.page_container {
  color: #403531;
  background-color: white;
  font-family: Geologica;

  .page_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 40px;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 0;

    nav {
      position: absolute;
      top: 128px;
      left: 64px;
    }
  }

  .page_link {
    width: 195px;
    color: #14100f;
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
    border: 1px solid #14100f;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    transition-duration: 0.3s;
    flex-shrink: 0;
  }

  .page_link:hover {
    color: white;
    background-color: #110f0f;
  }

  .page_block {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 24px;
    padding: 64px 64px 80px 64px;
  }

  .page_title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 47px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1820px) {
  .page_container {
    .page_block {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media screen and (max-width: 872px) {
  .page_container {
    .page_block {
      padding: 48px 40px 64px 40px;
    }

    .page_header {
      padding: 40px 40px 0 40px;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;

      nav {
        left: 40px;
      }
    }
  }
}

@media screen and (max-width: 743px) {
  .page_container {
    .page_block {
      padding: 40px 16px 24px 16px;
    }
  }
}

@media screen and (max-width: 670px) {
  .page_container {
    .page_header {
      align-items: center;
      padding: 40px 16px 0 16px;

      nav {
        top: 100px;
        left: 16px;
      }

      .page_title {
        margin-top: 16px;
        font-size: 24px;
      }

      .page_link {
        width: 90%;
      }
    }
  }
}