.vector {
  cursor: pointer;
  overflow: hidden;
}

.li:hover {
  .vector {
    transform: rotate(180deg);
    & path {
      fill: #fff2d8;
    }
    .profile {
      display: block;
    }
  }
}

@media screen and (min-width: 1880px) {
  .nav {
    padding-right: 40rem;
  }
}

@media screen and (max-width: 1879px) {
  .nav {
    padding-right: 4rem;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
}

.div1 {
  width: 24px;
  height: 0.2rem;
  background-color: #fff;
  transform-origin: 1px;
  transition: all 0.3s linear;
}

.div2 {
  width: 18px;
  height: 0.2rem;
  background-color: #fff;
  transform-origin: 1px;
  transition: all 0.3s linear;
}

.div3 {
  width: 12px;
  height: 0.2rem;
  background-color: #fff;
  transform-origin: 1px;
  transition: all 0.3s linear;
}
