.vector {
  cursor: pointer;
  overflow: hidden;
}

.vector:hover {
  transform: rotate(180deg);
  & path {
    fill: #fff2d8;
  }
  .profile {
    display: block;
  }
}

@media screen and (min-width: 1880px) {
  .nav {
    padding-right: 40rem;
  }
}

@media screen and (max-width: 1879px) {
  .nav {
    padding-right: 3rem;
  }
}
