.reach_us_wrapper {
  font-family: Geologica;
  line-height: 140%;
  padding: 40px;
  color: #fff;
  background-color: #110F0F;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-radius: 8px;

  section>p {
    margin: 0 0 24px 0;
  }

  form>button {
    margin-top: 24px;
  }
}

.reach_us_title {
  font-size: 28px;
  font-weight: 500;
  margin: 0;
}

.reach_us_links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.reach_us_link {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: #fff;
  border-radius: 48px;
  transition: background-color 0.3s;
}

.reach_us_link:hover {
  background-color: #FFF2D8;
}

.reach_us_link:nth-child(3) {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: center;
  align-items: center;
  padding: 0 24px 0 16px;
  height: 48px;

  p {
    font-size: 16px;
    color: #403531;
    font-weight: 700;
  }
}


@media screen and (max-width: 450px) {
  .reach_us_wrapper {
    padding: 40px 16px;
    height: 100vh;
    border-radius: 0;
  }
}