.container {
  width: auto;
  height: 589px;
  background-image: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 15%
    ),
    linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 15%),
    url(../../assets/images/services-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 64px;
  font-family: Geologica;
  line-height: 140%;
  color: #fff;

  h3 {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
  }

  a {
    text-decoration: none;
    color: rgba(255, 255, 255);
  }

  .youtube_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;

    a {
      width: 210px;
      height: 24px;
      font-weight: 700;
      font-size: 16px;
      display: flex;
      padding: 15px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 40px;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(2px);
      border: 1px solid rgba(255, 255, 255, 0.2);
      transition-duration: 0.3s;
      cursor: pointer;
    }

    a:hover {
      background: rgba(255, 255, 255, 0.5);
    }
  }
}

.video {
  margin-top: 9px;
  height: 469px;
  width: 833px;
  transition-duration: 0.3s;
  margin-left: 14px;
  position: relative;
  z-index: 0;
}

.play {
  width: 60px;
  height: 60px;
  padding: 20px;
  border-radius: 60px;
  background: #fff;
  position: absolute;
  z-index: 999;
  top: 203px;
  left: 393px;
  opacity: 0;
  transition-duration: 0.3s;
}

.video:hover {
  scale: 1.03;
}

.video:hover + .play {
  opacity: 1;
}

.custom_splide {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 376px) {
  .container {
    padding: 52px 16px;
    position: relative;

    h3 {
      font-size: 24px;
    }

    .youtube_header {
      a {
        position: absolute;
        bottom: 50px;
      }
    }
  }

  .video {
    width: 305px;
    height: 171px;
  }
}
