.container {
  width: auto;
  height: 589px;
  background-image: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 15%
    ),
    linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 15%),
    url(../../assets/images/services-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 64px;
  font-family: Geologica;
  line-height: 140%;
  color: #fff;

  .h3 {
    line-height: normal;
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .a {
    text-decoration: none;
    color: rgba(255, 255, 255);
  }

  .youtube_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;

    .a {
      width: 210px;
      height: 24px;
      font-weight: 700;
      font-size: 16px;
      padding: 15px;
      gap: 8px;
      border-radius: 40px;
      background: rgba(255, 255, 255, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.2);
      transition-duration: 0.3s;
      cursor: pointer;
      flex-shrink: 0;

      span {
        gap: 8px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    a:hover {
      background: rgba(255, 255, 255, 0.5);
    }
  }
}

.video {
  margin-top: 9px;
  height: 469px;
  width: 833px;
  transition-duration: 0.3s;
  margin-left: 14px;
  position: relative;
  z-index: 0;
}

.play {
  width: 60px;
  height: 60px;
  padding: 20px;
  border-radius: 60px;
  background: #fff;
  position: absolute;
  z-index: 999;
  top: 203px;
  left: 393px;
  opacity: 0;
  transition-duration: 0.3s;
}

.video:hover {
  scale: 1.03;
}

.video:hover + .play {
  opacity: 1;
}

.custom_splide {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 0;
  margin-right: -64px;
  margin-left: -64px;
}

.custom_splide button {
  filter: invert(90%) sepia(31%) saturate(2%) hue-rotate(194deg)
    brightness(107%) contrast(100%);
  opacity: 0.5;
  background-color: transparent;
  height: 100%;
  width: 100px;
  transition-duration: 0.3s;
}

.custom_splide::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100px;
  height: 100%;
  background: linear-gradient(90deg, #261c1a 0%, rgba(38, 28, 26, 0) 100%);
  cursor: pointer;
}

.custom_splide::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  width: 128px;
  height: 100%;
  background: linear-gradient(270deg, #261c1a 0%, rgba(38, 28, 26, 0) 100%);
  cursor: pointer;
}

@media screen and (max-width: 968px) {
  .container {
    position: relative;

    .youtube_header {
      .a {
        position: absolute;
        bottom: 80px;
        left: 40px;
        transform: translateY(48px);
        width: 90%;
        margin: auto;

        span {
          margin: auto;
          display: flex;
          gap: 8px;
          align-items: center;
        }
      }
    }
  }
}

@media screen and (max-width: 912px) {
  .container {
    padding: 80px 40px;

    .youtube_header {
      .a {
        transform: translateY(-28px);
        width: 85%;
      }
    }

    .video {
      width: 541px;
      height: 304px;
    }

    .custom_splide {
      margin-right: -40px;
      margin-left: -38px;
    }

    .custom_splide::before,
    .custom_splide::after {
      display: none;
    }
  }
}

@media screen and (max-width: 500px) {
  .container {
    padding: 52px 16px;
    position: relative;
    height: 384px;

    .h3 {
      font-size: 24px;
    }

    .youtube_header {
      margin-bottom: 24px;

      .a {
        transform: translateY(10px);
        left: 16px;
        width: 83%;
      }
    }

    .video {
      width: 305px;
      height: 171px;
    }

    .custom_splide {
      margin-right: -16px;
      margin-left: -14px;
    }
  }
}
