.thanks_wrapper {
  font-family: Geologica;
  padding: 40px;
  color: #fff;
  background-color: transparent;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 8px;
  height: 100%;

  p {
    margin: 0;
  }

}

.thanks_title {
  font-size: 28px;
  font-weight: 500;
  margin: 0;
}

@media screen and (max-width: 450px) {
  .thanks_wrapper {
    padding: 40px 16px;
    height: 100vh;
    border-radius: 0;
  }
}