.breadcrumbs {
  ol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    list-style-type: none;
    padding: 0;
  }

  li {
    font-family: Geologica;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;

    a {
      font-size: 14px;
      color: #403531;
      transition-duration: 0.3s;
    }

    a:hover {
      color: #E9C394;
    }
  }

  li:last-child {
    color: rgba(64, 53, 49, 0.50);
  }

}