@media screen and (min-width: 1134px) {
  .container {
    display: flex;
    padding: 120px 64px;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
  }

  .blok {
    display: flex;
    align-items: flex-start;
    gap: 60px;
    align-self: stretch;
  }

  .question-blok {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
  }

  .h3 {
    font-size: 40px;
    margin: 0;
  }

  .blokform {
    width: 581px;
    padding: 40px;
    gap: 32px;
  }

  .question-icon {
    font-size: 24px;
  }
}

@media screen and (max-width: 1133px) {
  .h3 {
    font-size: 40px;
    margin: 0;
    padding: 80px 40px 0px 40px;
  }

  .question-blok {
    display: flex;
    padding: 80px 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
  }

  .blokform {
    padding: 40px;
    gap: 32px;
  }

  .question-icon {
    font-size: 24px;
  }
}

@media screen and (max-width: 553px) {
  .h3 {
    font-size: 24px;
    margin: 0;
    padding: 56px 16px 0px 16px;
  }

  .question-blok {
    display: flex;
    padding: 56px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .blokform {
    padding: 56px 16px;
    gap: 24px;
  }

  .button {
    align-self: stretch;
  }

  .question-icon {
    font-size: 36px;
  }
}

.h3 {
  color: #403531;
  font-family: Geologica;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  text-transform: uppercase;
}

.question-section {
  background: transparent;
  border: none;
  border-bottom: 1px solid #403531;
  cursor: pointer;
  padding: 0;
  display: flex;
  padding: 24px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.question-align {
  align-items: center;
  display: flex;
  min-height: 10px;
  text-align: left;
}

.question-style {
  color: #403531;
  font-family: Geologica;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin: 0;
}

.question-icon {
  background: none;
  border: none;
  color: #484848;
  cursor: pointer;
  margin-left: auto;
}

.rotate {
  transform: rotate(45deg);
}

.answer {
  margin-right: 8px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease;
  text-align: left;
  color: #484848;
  font-family: Geologica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.blokform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  background: #161211;
  gap: 32px;
}

.title {
  color: #fff;
  font-family: Geologica;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin: 0;
}

.blokdirector {
  display: flex;
  align-items: center;
  gap: 17px;
}

.text {
  color: #fff2d8;
  font-family: Geologica;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.textdirector {
  color: #fff;
  font-family: Geologica;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .form_button {
    margin-top: 40px;
  }
}

.name {
  display: flex;
  flex: 1 0 0;
  height: 64px;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  background: transparent;
  font-family: Geologica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.name::placeholder {
  color: #fff;
}

.name:hover {
  border-bottom: 1px solid rgba(255, 255, 255);
  cursor: pointer;
}

input:focus {
  outline: none !important;
}

input:focus::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}

.number {
  display: flex;
  flex: 1 0 0;
  height: 64px;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  background: transparent;
  font-family: Geologica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: rgba(255, 255, 255);
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.number::placeholder {
  color: #fff;
}

.number:hover {
  border-bottom: 1px solid rgba(255, 255, 255);
  cursor: pointer;
}

.question {
  display: flex;
  flex: 1 0 0;
  height: 64px;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  background: transparent;
  font-family: Geologica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.question::placeholder {
  color: #fff;
}

.question:hover {
  border-bottom: 1px solid rgba(255, 255, 255);
  cursor: pointer;
}

.button {
  display: flex;
  height: 56px;
  padding: 16px;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  border-radius: 40px;
  background: #fff;
  color: #403531;
  font-family: Geologica;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin-top: 40px;
}

.button:hover {
  background: #fff2d8;
  cursor: pointer;
  transition-duration: 0.3s;

  .vector {
    & path {
      fill: #403531;
      transition-duration: 0.3s;
    }
  }
}

.wrapper {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-direction: row;
}
