@media screen and (min-width: 600px) {
  .socmedia_container {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .social-buttons {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.3s, height 0.3s;
  }

  .social-buttons.show {
    display: flex;
    flex-direction: column;
    opacity: 1;
    position: fixed;
    z-index: 10;
    height: auto;
    right: 32px;
    bottom: 104px;
  }

  .socmedia_button {
    position: fixed;
    z-index: 10;
    right: 26px;
    bottom: 34px;
    padding: 17px 15px 11px 17px;
    border-radius: 74px;
    border: 1px solid #e7e7e7;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .socmedia_icon * {
    transition-duration: 0.3s;
  }

  .socmedia_icon.clicked * {
    fill: #e9c394;
  }
}
