.post {
  text-decoration: none;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0px 4px 8px 0px rgba(20, 16, 15, 0.08);
  position: relative;
  transition-duration: 0.3s;
  margin-top: 12px;
  border: 1px solid #e7e7e7;

  img {
    width: 100%;
  }

  .post_title,
  span {
    color: #403531;
  }

  .post_text,
  .post_date {
    color: #484848;
  }

  .post_content {
    padding: 24px 40px;
    height: 252px;
  }

  span {
    font-weight: 700;
    font-size: 14px;
    background-color: white;
    border-radius: 24px;
    padding: 8px 12px;
    position: absolute;
    top: 16px;
    left: 16px;
  }

  .post_title {
    font-size: 21px;
    font-weight: 500;
    margin: 0;
  }

  .post_text {
    margin-top: 16px;
    margin-bottom: 0;
    display: -webkit-box;
    max-width: 502px;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .post_bottom {
    margin-top: 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .post_button {
    margin: 0;
    font-size: 16px;
    color: #497cff;
  }

  .post_date {
    margin: 0;
  }
}

.post::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.post:hover::after {
  transform: translateY(12px);
}

.post:hover,
.post:focus {
  background-color: #fff;
  color: #484848;
  transform: translateY(-12px);
}

@media screen and (max-width: 750px) {
  .post {
    .post_content {
      padding: 24px;
    }
  }
}

@media screen and (max-width: 480px) {
  .post {
    margin-top: 0;
    margin-bottom: 0;

    img {
      height: 240px;
      object-fit: cover;
    }
  }
}
