.container {
    color: #403531;
    background-color: white;
    font-family: Geologica;
    line-height: 140%;
    padding: 120px 64px;
  
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 52px;
      height: 56px;
  
      h3 {
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
      }
  
      a {
        color: #14100F;
        font-size: 16px;
        font-weight: 700;
        border-radius: 40px;
        border: 1px solid #14100F;
        padding: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        gap: 8px;
        transition-duration: 0.3s;
      }
  
      a:hover {
        color: white;
        background-color: #110F0F;
      }
    }
  }
  
  .header_buttons {
    display: flex;
    gap: 16px;
  }
  
  .custom_splide {
    display: flex;
  }
  
  @media screen and (max-width: 376px) {
    .container {
      padding: 52px 16px;
      position: relative;
    }
  
    .header_buttons {
      position: absolute;
      display: flex;
      flex-direction: column;
      bottom: 50px;
    }
  }