@media screen and (min-width: 1250px) {
  .container {
    background-image: url("../../assets/images/bg-footer-1920.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
    overflow: hidden;
    display: flex;
    padding: 0px 64px;
    flex-direction: column;
  }

  .blokheader {
    display: flex;
    padding: 24px 0px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  }

  .bloksocnet {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
  }

  .blokmain {
    display: flex;
    padding: 80px 0px;
    gap: 48px;
  }

  .blokmain1 {
    display: flex;
    min-width: 400px;
    max-width: 480px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
  }

  .blokmain2 {
    display: flex;
    max-width: 340px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1 0 0;
  }

  .blokmain3 {
    display: flex;
    max-width: 340px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1 0 0;
  }

  .blokmain4 {
    display: flex;
    max-width: 340px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1 0 0;
  }

  .blokfooter {
    display: flex;
    padding: 24px 0px 24px 0px;
    justify-content: space-between;
    align-items: flex-start;
    opacity: 0.4000000059604645;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
  }

  .politic {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .blokmobile {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .title {
    font-size: 21px;
  }
}

@media screen and (max-width: 1250px) {
  .container {
    background-image: url("../../assets/images/bg-footer-744.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
    overflow: hidden;
    display: flex;
    padding: 0px 64px;
    flex-direction: column;
    gap: 43px;
  }

  .blokheader {
    display: flex;
    padding: 24px 0px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  }

  .bloksocnet {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
  }

  .blokmain {
    gap: 44px 94px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .blokmain1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    gap: 48px;
    order: 1;
  }

  .blokmain2 {
    display: flex;
    max-width: 340px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1 0 0;
    order: 3;
  }

  .blokmain3 {
    display: flex;
    max-width: 340px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1 0 0;
    order: 4;
  }

  .blokmain4 {
    display: flex;
    max-width: 340px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1 0 0;
    order: 2;
  }

  .blokfooter {
    display: flex;
    padding: 24px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 0px 16px 0px;
    opacity: 0.4000000059604645;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
  }

  .politic {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .blokmobile {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .title {
    font-size: 21px;
  }
}

@media screen and (max-width: 740px) {
  .logo {
    display: none;
  }

  .blokheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  }

  .bloksocnet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  .container {
    background-image: url("../../assets/images/bg-footer-375.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
    overflow: hidden;
    display: flex;
    padding: 0px 16px;
    flex-direction: column;
    gap: 0px;
  }

  .blokmobile {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .blokmain {
    display: flex;
    flex-direction: column;
    padding: 48px 0px;
    flex-wrap: wrap;
    gap: 14px 74px;
  }

  .blokfooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px 0px 24px 0px;
    opacity: 0.4000000059604645;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
  }

  .title {
    font-size: 28px;
  }

  .p {
    text-align: center;
  }
}

.p {
  overflow: hidden;
  color: #fff;
  text-overflow: ellipsis;
  font-family: Geologica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin: 8px 0px;
}

.adress {
  overflow: hidden;
  color: #fff;
  text-overflow: ellipsis;
  font-family: Geologica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin: 8px 0px;
}

.bloknet {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: #fff;
  border-radius: 48px;
  transition: background-color 0.3s;
}

.bloknet:hover {
  background-color: #fff2d8;
  cursor: pointer;
}

.bloknet2 {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: #fff;
  border-radius: 48px;
  transition: background-color 0.3s;
}

.bloknet2:hover {
  background-color: #fff2d8;
  cursor: pointer;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  overflow: hidden;
  color: #fff;
  text-overflow: ellipsis;
  font-family: Geologica;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
}

.card {
  display: flex;
  align-items: flex-end;
  gap: 40px;
}
